<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!-- Use the JSON layout for production (logging to ELK) -->
            <!-- <PatternLayout pattern="{&quot;@timestamp&quot;:&quot;%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}&quot;,&quot;level&quot;:&quot;%-5p&quot;,&quot;thread&quot;:&quot;%t&quot;,&quot;class&quot;:&quot;%C&quot;, &quot;code_line_number&quot;:&quot;%L&quot;,&quot;message&quot;:&quot;%m&quot;}%n" /> -->

            <!-- Use this pattern for local debugging -->
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %highlight{%level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue} %logger{36} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>

        <!-- MilvusClient will generate INFO logs each time vectors are inserted, so this is set to WARN to hide that -->
        <Logger name="io.milvus.client.AbstractMilvusGrpcClient" level="WARN" />

        <Logger name="eu.europeana.api.recommend.updater.config.JobCmdLineStarter" level="DEBUG"/>

        <!-- Set to DEBUG to see all requests to Mongo -->
        <Logger name="org.mongodb.driver" level="INFO"/>

        <!-- Set to DEBUG to see timing -->
        <Logger name="eu.europeana.api.recommend.updater.service.record.MongoDbCursorItemReader" level="DEBUG"/>

        <!-- Set to DEBUG to see timing, set to TRACE to see generated EmbeddingRecords -->
        <Logger name="eu.europeana.api.recommend.updater.service.record.RecordToEmbedRecordProcessor" level="DEBUG"/>

        <!-- Set to DEBUG to see timing, set to TRACE to requests and responses -->
        <Logger name="eu.europeana.api.recommend.updater.service.embeddings.EmbedRecordToVectorProcessor" level="DEBUG"/>

        <!-- Set to DEBUG to see timing, set to TRACE to see requests sent to Milvus -->
        <Logger name="eu.europeana.api.recommend.updater.service.milvus.MilvusWriterService" level="DEBUG"/>

    </Loggers>
</Configuration>